*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
body{
 font-family:Arial, Helvetica, sans-serif;
 height:100vh;
 color:cyan;
}
img{
 width:50px;
 height:50px;
}
.container{
 height: 100vh;
}
.header{
 height:10%;
 
 display:flex;
 flex-direction:row;
 justify-content: space-between;
}
.header > .menu{
 display:flex;
 text-transform:uppercase;
 gap:15px;
 align-items: center;
 margin-right: 10px;
 font-size:2.5vw;
}
.header > .logo{
 display:flex;
 align-items: center;
 margin-left:10px;
 font-size:3vw;
}
.main{
 height:80%;
 display:flex;
 flex-direction:row;

}
.main > .picture{
 width:30%;
 background:url('./IMAGES/groom.jpg');
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
 /* margin-right:0px; */
}
.main > .message{
 width:70%;

display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size:1.5rem;


}
span{
 color:red;
 font-family: monospace;
}
#last{
 text-align: center;
}
.footer{
 display:flex;
 flex-direction:row;
 margin-top:10px;
 justify-content: space-between;
}
.social{
 display:flex;
 flex-direction:row;
 gap:10px;
}
.copyright{
 margin-top:20px;
 margin-left:20px;
}
@media screen and (max-width:580px){
.header{
 display:flex;
 flex-direction:column;
 font-size: 1.5vw;
 justify-content: center;
 align-items:center;
 gap:10px;
}
.main{
 display:flex;
 flex-direction: column;
 /* gap:15px; */
 font-size:15px;
 /* height:80%; */
}
.message{
 height:20%;
 font-size:15px;
 text-align:center;
 margin-right:20px;
}
.footer{
 display:flex;
 flex-direction:column;
 justify-content: center;
 align-items:center;
}
.img{
 width:20px;
 height:20px;
}
h4{
 text-align: center;font-size:10px;
}
}