*{
 margin:0;
 padding:0;

}
*h1,h2,h3,h4{
 margin:0;
 padding:0;
}
body{
 box-sizing:border-box;
 overflow:auto;
 margin: auto;
 /* padding:20px; */
 height:100vh;
 width:100%;
 background:chartreuse;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.container{
 box-sizing:border-box;
 display:grid;
 align-items:center;
 height:100vh;
 width:100%;
 margin:auto;
 /* margin:auto; */
 padding:20px;
}
.header{
 display:flex;
 justify-content: center;
 justify-content: space-evenly;
}
ul{
 list-style-type: none;
 text-transform:uppercase;
 color:darkblue;
 margin-left:600px;
 margin-bottom:20px;
}
li{
 display:inline-block;
 margin:3px;
 padding:0.8rem;
 background:green;
 border-radius:15px;
}
span{
 font-family: monospace;
 color:red;
 font-style: oblique;
}
li:hover{
 color:white;
 background:black;
 border-bottom: 3px solid white;
}
div > #first{
 margin-right:auto;
}
h1 {
 /* padding:50px; */
 /* margin-right:100px; */
}
img{
 width:200px; 
 height:200px;
 border-radius:20px;
 /* position:absolute;  */
}
/* img:hover{ */
 /* width:600px; */
 /* height:600px; */
 /* z-index: 1; */
/* } */
.main{
 display:grid;
 grid-template-areas:
 "showcase showcase top-box-a"
 "showcase showcase top-box-b";
 grid-gap:20px;
}
.showcase{
 grid-area:showcase;
 background:url('IMAGES/weddingbackground.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height:400px;
 border-radius:15px;
 padding:3rem;
 

}
.info{
 display:flex;
 flex-direction: column;
 align-content:start;
 justify-content: center;
 /* margin-top:30%; */
}
.info > h4{
 text-align:center;
 font-size:4rem;
 color:chocolate;
}
.info > p{
 text-align:center;
 font-size:1.2rem;
 color:red;
}
.box{
 display: grid;
 align-items: center;
 justify-items: center;
 grid-gap:20px;
}

.top-box-a{
 grid-area:top-box-a;
 background:crimson;
 display:grid;
 align-items:center;
 justify-items:center;
 padding:60px;
 
}
.top-box-b{
 grid-area:top-box-b;
 background:sandybrown;
 display:grid;
 align-items:center;
 justify-items:center;
 padding:60px; 
}
.btn{
 background:white;
 border-radius:15px;
 padding:0.4rem;
margin-top:10px;
}
.btn:hover{
 background:black;
 color:white;
 border:none;
 border-bottom:1px solid white;
}
.box{
 display:flex;
 flex-direction:column;
 justify-items:stretch ;
}
footer{
 /* margin-top:30px; */
 margin-top:20px;
 margin-bottom:0;
 background:darkblue;
 width:100vw;
 text-align:center;
 padding: 10px;
}
