*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial;
}
.main-menu{
 display:flex;
 list-style-type: none;

}
.main-menu li{
padding:10px 20px;
/* margin:40px; */
text-transform:uppercase;
color:green;
background:black;
/* position:relative; */


}
.sub-menu{
 list-style-type: none;
 padding:0;
 margin:0;
 display:none;
}
.main-menu li:hover .sub-menu {
 display:block;
 position:absolute;
 margin-top:10px;
 margin-left:-65px;
 cursor:pointer;
}
.main-menu li:hover .sub-menu li{
 display:block;
 padding:5px;
 background:blue;
 color:white;
 border-bottom:1px dashed green;
 cursor:pointer;
 font-size:20px;
}

.main-menu li:hover .sub-menu li:last-child{
 border-bottom:none;
 padding-bottom:10px;
}
.sub-menu2{
 display:none;
}
.more:hover .sub-menu2{
 display:block;
 position:absolute;
 margin-top:-15px;
 margin-left:200px;
}
.more:hover .sub-menu2:hover li {
 background:linear-gradient(to left, red,green);
 color:sandybrown;
 font-family: 'Times New Roman', Times, serif;
 border-bottom:1px solid red;
 margin-bottom:1px;

}